<div class="container">
  <div class="row">
    <div class="col-3">
     	<div class="navigation navAni4"><a href="index.html" class="navigationlink"><span class="linktext">Back to Home</span></a></div>
    </div>
    <div class="col-3">
     	<div class="navigation navAni3"><a href="aboutme.html" class="navigationlink"><span class="linktext">About Me</span></a></div>
    </div>
    <div class="col-3">
    	<div class="navigation navAni2"><a href="projects.html" class="navigationlink"><span class="linktext">Projects</span></a></div>
    </div>
    <div class="col-3">
    	<div class="navigation navAni1"><a href="achievements.html" class="navigationlink"><span class="linktext">Achievements</span></a></div>
    </div>
  </div>
</div>
<!-- <br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="navigation navAni4"><a href="index.html" class="navigationlink"><span class="linktext">Back to Home</span></a></div>
    </div>
    <div class="col-3">
      <div class="navigation navAni3"><a href="aboutme.html" class="navigationlink"><span class="linktext">About Me</span></a></div>
    </div>
    <div class="col-3">
      <div class="navigation navAni2"><a href="projects.html" class="navigationlink"><span class="linktext">Projects</span></a></div>
    </div>
    <div class="col-3">
      <div class="navigation navAni1"><a href="achievements.html" class="navigationlink"><span class="linktext">Achievements</span></a></div>
    </div>
  </div>
</div> -->